.body {
    background-color: black;
  }

.wrapper {
    padding: 1px;
    width: 33%;
    margin: 0 auto;
    background-color: white;
    text-align:  center;
  }
    
    
 .header {
    
    text-align:  center;
 margin: 0 auto; width:300px
  }
 
	.content {
		border-top: 1px solid gray;
    border-bottom: 1px solid gray;
	}
 .contacts {
 	border-top: 1px solid gray;
    border-bottom: 1px solid gray;
 }

 

 
	
    

  
